<div class="message-wrapper {{{messageType}}}">
    <div class="message">
        <div class="message-content">
            {{{messageContent}}}
        </div>
        <div class="message-datetime">
            {{{messageDatetime}}}
        </div>
    </div>
</div>
