.chat-header__label{
    font-size: 24px;
    font-weight: 500;
}

.chat-header__logout{
    width: 24px;
    height: 24px;

.icon > svg > path{
    fill: var(--color-primary);
}
}

.form-wrapper{
    display: flex;
    flex: 1;
    justify-content: center;
    overflow-y: scroll;
}
