.chat-header__title{
    padding-left: 40px;
    font-size: 24px;
    font-weight: 500;
    flex-grow: 1;
}
.chat-header__options{
    width: 24px;
    height: 24px;
    position: relative;

    .icon > svg > path{
        fill: var(--color-gray3);
    }

    & > .icon:hover{
        svg > path{
            fill: var(--color-primary);
        }
    }

    .chat-options__menu{
        border-radius: 5px;
        border-color: 1px solid var(--border-color);
        background-color: var(--color-white);
        position: absolute;
        top: 55px;
        right: 0;
        box-shadow: 0 0 14px var(--color-white-shadow);
        display: flex;
        flex-direction: column;
    }
}
.chat{
    background-color: var(--color-white);
    overflow-y: scroll;
    flex-grow: 1;
    padding: 15 15px;
}
.chat-footer{
    height: 75px;
    border-top: 1px solid var(--border-color);
    display: flex;
    width: 100%;
    align-items: center;

    .chat-attach, .chat-send{
        width: 44px;
        height: 44px;
        margin: 16px;
        cursor: pointer;

        .icon > svg > path{
            fill: var(--color-gray3);
        }

        & > .icon:hover{
            & > svg > path{
                fill: var(--color-primary);
            }
        }
    }

    .chat-attach{
        position: relative;

        &__menu{
            border-radius: 5px;
            border-color: 1px solid var(--border-color);
            background-color: var(--color-white);
            position: absolute;
            top: -155px;
            box-shadow: 0 0 14px var(--color-white-shadow);
            display: flex;
            flex-direction: column;
        }
    }

    .chat-message{
        flex-grow: 1;
    }
}
