.toast-wrapper{
    position: fixed;
    bottom: -50px;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 5px;
    text-align: center;
    width: fit-content;
    max-width: 350px;
    padding: 10px;
    transition: all ease-in-out 0.5s;
    z-index: 10;
    display: flex;

    &.visibl1e{
        transform: translateY(-100px);
    }


    &.warning{
        border: 1px solid var(--color-warning-border);
        background-color: var(--color-warning-bg);
        color: var(--color-warning);
    }

    &.danger{
        border: 1px solid var(--color-danger-border);
        background-color: var(--color-danger-bg);
        color: var(--color-danger);
    }
}
