<div class="message {{{ messageType }}}">
    <div class="message__wrapper">
        <div class="message__sender">
            {{{ messageSender }}}
        </div>
        <div class="message__content">
            {{{ messageContent }}}
        </div>
        <div class="message__time">
            {{{ messageTime }}}
        </div>
    </div>
</div>
