<div class="message">
    <div class="message__sender">
        {{{ messageSender }}}
    </div>
    <div class="message__content">
        {{{ messageContent }}}
    </div>
    <div class="message__time">
        {{{ messageTime }}}
    </div>    
</div>
