.no-chat-wrapper{
	display: flex;
	flex: 1 1 auto;
	position: relative;

	.no-chat{
		flex: 1 1 auto;
		justify-content: center;
		align-items: center;
		display: flex;
		font-size: 32px;
		color: var(--color-gray2);
		text-align: center;
	}

	.new-chat-button{
		position: absolute;
		bottom: 25px;
		right: 25px;
		height: 60px;
		width: 60px;
		cursor: pointer;

		.icon{
			svg{
				path{
					fill: var(--color-primary);
				}
			}
		}
	}
}
