<div class="user">
    <div class="user__avatar">
        {{{ userAvatar }}}
    </div>
    <div class="user__info">
        <div class="user__name">{{ profileName }}</div>
        <div class="user__login">{{ login }}</div>
    </div>
</div>
