.chat-wrapper{
    flex: 1 1 auto;
    border-radius: 5px;
    display: flex;
    position: relative;

    .chats-side{
        min-width: 320px;
        max-width: 320px;
        display: flex;
        flex-direction: column;
        border-right: 1px solid var(--border-color);
        transition: all 0.3s ease;

        .chats-list{
            overflow-y: scroll;
        }
    }
    
    .chat-side__button{
		min-width: 50px;
		flex-grow: 1;
		display: flex;    
    }
    
    .chats-main{
        background-color: var(--color-light-gray);
        flex-grow: 1;
        border-radius: 0 5px 5px 0;
        display: flex;
        flex-direction: column;
        position: relative;

        .side-toggle{
            display: none;
            position: absolute;
            left: 0;
            top: 0;
            width: 55px;
            height: 65px;
            cursor: pointer;
            z-index: 50;
            background-color: var(--color-gray);

            svg > path{
                fill: var(--color-primary);
            }
        }
    }
}

.chat-header{
    height: 65px;
    padding: 10px 15px;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .profile-avatar{
        height: 54px;
        width: 54px;
    }

    .profile-name{
        flex-grow: 1;
        font-size: 24px;
        padding: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .profile-icon{
        width: 24px;
        height: 24px;

        .icon > svg > path{
            fill: var(--color-primary);
        }
    }
}

@media screen and (max-width: 700px){
    .side-toggle{
        display: flex !important;
    }

    .chats-side{
        margin-left: -320px;
        margin-top: 65px;
        position: absolute;
        background-color: var(--main-bg-color);
        z-index: 1;
        height: 100%;

        &.expand{
            margin-left: 0 !important;
        }
    }
}
