<div class="sign-form">
	<div class="form">
		<form>
			<h3>Sign In</h3>
  			{{{ loginInput }}}
  			{{{ passwordInput }}}
  			{{{ submitButton }}}
  			{{{ signUpLink }}}
  		</form>
	</div>    		
</div>
