<div class="modal__wrapper" ref="background">
    <div class="modal__container">
        <div class="modal__header">
            <div class="modal__header-label">
                {{{ modalLabel }}}
            </div>
            <div class="modal__header-close">
                {{{ hideButton }}}
            </div>
        </div>
        <div class="modal__content">
            {{#each modalChildren}}
                {{{ this }}}
            {{/each}}
        </div>
    </div>
</div>
