<div class="chat-header">
    <div class="chat-header__label">
        Profile
    </div>
    <a href="/">
        <div class="chat-header__logout" title="Sign out">
            {{{iconLogout}}}
        </div>
    </a>
</div>
<div class="form-wrapper">
    {{{formData}}}
</div>
