.drop-down-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 10px;
    cursor: pointer;

    &:not(:last-of-type){
        border-bottom: 1px solid var(--border-color);
    }

    &__icon{
        height: 36px;
        width: 36px;

        svg > path {
            fill: var(--color-gray3);
        }
    }

    &__label{
        font-size: 24px;
        margin-left: 15px;
        white-space: nowrap;
    }

    &:hover{
        background-color: var(--bg-light-gray);

        svg > path{
            fill: var(--color-primary);
        }
    }
}
