<div class="no-chat-wrapper">
    <div class="no-chat">
        Select chat to start messaging
        <div class="new-chat-button">
            {{{ newChatIcon }}}
        </div>
    </div>
    {{{ newChatModal }}}
</div>
