:root{
    --color-white: #fff;
    --color-light-gray: #f0f0f0;
    --color-gray: #ccc;
    --color-gray2: #9f9f9f;
    --color-gray3: #666;
    --color-primary: #3390ec;
    --color-primary-shadow: #4eb2f5;
    --color-danger: #df4759;
    --second-bg-color: #f5f5f5;
    --link-color: #1d74f5;
    --color-white-shadow: var(--color-gray);
    --main-bg-color: var(--color-white);
    --border-color: var(--color-gray);
    --bg-light-gray: var(--color-light-gray);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto,Arial,sans-serif;
}

body{
    display: flex;
    background-color: var(--second-bg-color);
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: var(--second-bg-color);

    ul{
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        padding: 10px;

        li{
            margin: 0 15px;
        }
    }
}

#root{
    display: flex;
    flex: 1 1 auto;
    padding-top: 20px;
}

#wrapper{
    display: flex;
    flex: 1 1 auto;
    background-color: var(--color-white);

    /* margin: 15px; */
    margin: 20px 15px 15px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    box-shadow: 0 0 5px var(--border-color);
}

@media screen and (max-width: 700px){
    #wrapper{
        margin: 60px 0 0;
        border-radius: 0;
    }
}

h3{
    font-size: 36px;
}

.form{
    border: 1px solid var(--border-color);
    border-radius: 10px;
    display: flex;
    margin: 15px;
    width: 450px;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-white);
    height: max-content;
}

.m{
    &y-{
        &10{
            margin: 10px 0 !important;
        }
    }
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background: #444;
    transition: .3s ease all;
}

::-webkit-scrollbar-thumb:hover {
    background: #111;
}
