#wrapper{
    display: flex;
    flex: 1 1 auto;
    background-color: var(--color-white);
    margin: 15px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    box-shadow: 0 0 5px var(--border-color);
}

@media screen and (max-width: 700px){
    #wrapper{
        margin: 0;
        border-radius: 0;
    }
}