.error-page{
    display: flex;
    flex: 1 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .error-page__code{
        font-size: 128px;
        font-weight: 700;
    }

    .error-page__message{
        font-size: 36px;
        font-weight: 600;
        margin: 20px 0;
    }
}